<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/search.css"/>

<script>
	if(navigator.geolocation){
		navigator.geolocation.getCurrentPosition(function(data){
			var latInput = document.getElementById("lat")
			latInput.value = data.coords.latitude
			var longInput = document.getElementById("long")
			longInput.value = data.coords.longitude

		})
	}
</script>

<h1>Pick a Crime</h1>
	<form action="/addcrime" method = "POST">
	<input type="hidden" id="lat"name="latitude">
	<input type="hidden" id="long" name="longitude">
	<input type="hidden" value="<%=TargetId %>" name="TargetId">
	
<% crimeData.forEach(function (data) {%>

	<h3>
		Arrest Category: <%= data.properties.crime_type %>
	</h3>

	<ul>
	 	<li>
	 		Date and Time of Incident: <%= data.properties.date_time %>
	 	</li>

		<li>
			Description of Incident: <%= data.properties.description %>
		</li>
	
		<li>
			Case Number: <%= data.properties.case_number %>
		</li>
	</ul>
	
		<label class="label" for="crime">Choose this crime  &nbsp</label><input type="radio" name="id" value="<%= data.id %>"> &nbsp &nbsp
			<input class="input" type="submit" value="Submit">
<%})%>
		
	</form>

<div class="bottom"></div>
<% include partials/footer.ejs %>